PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=user_management
JWT_SECRET=supersecretkey
RAZORPAY_KEY_ID= your_razorpay_key_id
RAZORPAY_KEY_SECRET= your_razorpay_key_secret
# Add other keys as needed
